h2{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

table,tr,th {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid black;
}